<!DOCTYPE html>
<html>
    <head>
	<title>New Message</title>
    </head>
    <body>
	<h2>Post Message</h2>
        <form method='POST' action='/new'>
            <input name='user' type='text' placeholder='user'></input>
            <textarea name='content' placeholder='Your message...'></textarea>
	    <input type='submit'></input>
        </form>
        <a href='/'>Go back</a>
    </body>
</html>
